<h1>More Academy</h1>
<h3>List Comprehensions (Compreensão de Listas)</h3>

Sintaxe:
[expressao for item in lista]

Vamos elevar todos os números da lista1 ao quadrado e armazenar na lista2.

In [2]:
lista1=[1,2,3,4,5]
lista2=[]
for num in lista1:
    lista2.append(num**2)

In [3]:
lista2

[1, 4, 9, 16, 25]

Podemos criar a lista2 em uma linha de código com List Comprehensions.

In [4]:
lista2=[num**2 for num in lista1]
lista2

[1, 4, 9, 16, 25]

Vamos criar uma lista com a raiz quadrada de todos os números da lista1.

In [6]:
lista3=[num**0.5 for num in lista1]
lista3

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

Podemos também utilizar uma função.

In [7]:
def raiz_quad(num):
    return num**0.5

lista4=[raiz_quad(num) for num in lista1]
lista4

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

Podemos utilizar o range para executar as mesmas tarefas anteriores.

In [9]:
lista5=[num**2 for num in range(1,6)]
lista5

[1, 4, 9, 16, 25]

In [10]:
lista6=[num**0.5 for num in range(1,6)]
lista6

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

Pegando o valor lógico de objetos:

In [11]:
y=[bool(item) for item in [10,10.5,0,[],(),{},'','Python']]
y

[True, True, False, False, False, False, False, True]

Transformando números de uma lista em str:

In [12]:
z=[str(num) for num in [0,1,2,3]]
z

['0', '1', '2', '3']

In [13]:
type(z[0])

str

Pegando números pares e números ímpares no intervalo [1-20]:

In [14]:
par=[num for num in range(1,21) if num%2==0]
par

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
impar=[num for num in range(1,21) if num%2!=0]
impar

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
par=[num for num in range(1,21) if not num%2]
par

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
impar=[num for num in range(1,21) if num%2]
impar

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Elevando os números pares ao quadrado e os números ímpares ao cubo, no intervalo [1-21]:

In [22]:
lista=[num**2 if num%2==0 else num**3 for num in range(1,21)]
print(lista)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400]

Somando os números inteiros no intervalo [1-50]:

In [23]:
soma_int=sum([num for num in range(1,51)])
soma_int

1275