<h1>More Academy</h1>
<h3>Revisão - Tuplas</h3>

Sabemos que tuplas são coleções ordenadas e imutáveis. Existem dois métodos para tuplas: count e index. Podemos criar tuplas com parêntesis:

In [1]:
tupla1=(1,2,3,4,5)
type(tupla1)

tuple

Outras formas de criar tuplas:

In [2]:
tupla2=1,2,3,4,5
type(tupla2)

tuple

In [5]:
tupla3=tuple([1,2,3])
type(tupla3)

tuple

In [6]:
tupla4=tuple({1,2,3})
type(tupla4)

tuple

In [7]:
tupla5=tuple(range(1,11))
type(tupla5)

tuple

Tupla com um elemento:

In [8]:
t1=(4)
type(t1)

int

Forma correta:

In [9]:
t1=(4,)
type(t1)

tuple

In [10]:
t1=4,
type(t1)

tuple

Desempacotamento de Tupla

In [11]:
valores=(40,100,200)
num1,num2,num3=valores

In [12]:
num1

40

In [13]:
num2

100

In [14]:
num3

200

Max,min,sum e len

In [15]:
v=(10,-37,41,88,91,13,9,3,62)

In [16]:
max(v)

91

In [17]:
min(v)

-37

In [18]:
sum(v)

280

In [19]:
len(v)

9

Unindo tuplas

In [20]:
t1=('a','b','h')
t2=(40,3,11)
t3=t1+t2

In [21]:
t3

('a', 'b', 'h', 40, 3, 11)

Iterando em tuplas

In [1]:
tupla=(1,2,3,4,5,6)
for numero in tupla:
    print(numero)

1
2
3
4
5
6

## Método em Tuplas

Temos basicamente dois métodos aplicáveis as tuplas:

<table border="1"  align="justify">
<tr>
    <td><h4>Métodos em Tuple</h4></td>
  <td><h4>Descrição</h4></td>
</tr>
<tr>
    <td>index()</td>
    <td>Retorna o primeiro índice do elemento especificado.</td>
</tr>
<tr>
    <td>count()</td>
    <td>Conta o número de vezes que o elemento aparece na lista.</td>
</tr>
</table>

Usando o método index:

In [4]:
tupla=('a','b','c','d')
print(f"Índice de 'a': {tupla.index('a')}")
print(f"Índice de 'b': {tupla.index('b')}")
print(f"Índice de 'c': {tupla.index('c')}")
print(f"Índice de 'd': {tupla.index('d')}")

Índice de 'a': 0
Índice de 'b': 1
Índice de 'c': 2
Índice de 'd': 3

Usando o método count:

In [5]:
tupla=('a','z','z','z','w')
print(tupla.count('z'))

3