<h1> More Academy </h1>
<h3> Revisão - Listas (Parte I)</h3>

As listas podem ser utilizadas para armazenar valores. Esses valores podem ser strings, tuplas, outras listas,dicionários, dentre outros. Revisaremos as principais questões que envolvem este tópicos.
<br>Vamos lá ?

<h3>Introdução</h3>

Vamos começar criando uma lista vazia.

In [1]:
lista=[]

Agora vamos criar uma lista com alguns valores numéricos. E em seguida uma lista com tipos distintos de dados.

In [2]:
lista1=[10,20,30,40]

In [3]:
lista2=['Hello World!',10,20,30,[1,2,3],(45,50)]

Observem que a lista2 armazena uma string, números inteiros, outra lista e uma tupla.

Para acessar valores em uma lista devemos utilizar o índice do valor a ser acessado. Lembrando que o índice de uma lista começa em 0, ou seja, o índice do primeiro elemento.
Vamos tentar entender isso na prática?

In [4]:
lista3=['A','B','C','D']

A string 'A' possui índice 0, já a string 'B' índice 1 e assim sucessivamente até a nossa string 'D', que possui índice 3.

Podemos verificar o tipo de dado da nossa lista3 com a função type().

In [5]:
type(lista3)

list

<h3> Acessando elementos de uma lista via índice </h3>

In [6]:
lista=['A','B','C']
lista[0]

'A'

In [7]:
lista[1]

'B'

In [8]:
lista[2]

'C'

Se executarmos lista[3] teremos IndexError: list index out of range, pois não temos nenhum valor ocupando este índice.

<h3>Modificação dos elementos de uma lista</h3>

Vamos mudar todos os valores da lista a seguir.

In [9]:
a=[10,11,12,13]

In [10]:
a[0]=0  #mudando o elemento de índice 0, ou seja, o 10

In [11]:
a[1]=0  #mudando o elemento de índice 1, ou seja, o 11

In [12]:
a[2]=0  #mudando o elemento de índice 2, ou seja, o 12

In [13]:
a[3]=0  #mudando o elemento de índice 3, ou seja, o 13

Como nossa lista ficou? Vejamos...

In [14]:
a

[0, 0, 0, 0]

<h3>Outra forma de indexação</h3>

Sabemos que o último elemento de uma lista possui índice -1.

In [15]:
b=['a','c','d','h']

Vamos pegar o último elemento da lista b:

In [16]:
b[-1]

'h'

Então, podemos acessar os elementos de uma lista de forma contrária, do fim para o início.
Na nossa lista b teríamos o seguinte:
* 'h' - índice -1
* 'd' - índice -2
* 'c' - índice -3
* 'a' - índice -4

Na prática:

In [17]:
b[-2]

'd'

In [18]:
b[-3]

'c'

In [19]:
b[-4]

'a'

<h3>Tamanho de uma lista</h3>

Para verificar o tamanho de uma lista usamos a função integrada len().

In [20]:
z=['a','b','k','j']

In [21]:
len(z)

4

<h3>Máximo,mínimo, soma e tamanho</h3>

Vamos verificar os valores máximo e mínimo da lista n, a soma de todos os seus elementos e o seu tamanho.

In [22]:
n=[31, 914, 236, 376, 140, 705, 
       586, 589, 635, 11, 674, 263,
       617, 172, 542, 947, 336, 850, 
       616, 661, 327, 124, 452, 410, 
       80, 982, 290, 757, 875, 22, 
       969, 862, 813, 743, 668, 78,
]

In [23]:
print(f'Valor máximo: {max(n)}')
print(f'Valor mínimo: {min(n)}')
print(f'Números de elementos: {len(n)}')
print(f'Soma dos elementos: {sum(n)}')

Valor máximo: 982
Valor mínimo: 11
Números de elementos: 36
Soma dos elementos: 18353

<h3>Como unir listas</h3>

In [24]:
lista1=['a','b','c']
lista2=['d','e','f','g']
l=lista1+lista2
print(l)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

<h3>Repetindo elementos</h3>

In [25]:
h=[0,1,2]
h*4

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

<h3>Construtor list()</h3>

Podemos construir listas com a função interna list().Vejam os exemplos.

In [26]:
tupla=(1,2,3,4,5)
lista=list(tupla)

In [27]:
lista

[1, 2, 3, 4, 5]

In [28]:
type(lista)

list

Podemos criar uma lista com uma sequência de números inteiros por meio da função embutida range().
* range(início:fim:passo)

In [29]:
serie1=list(range(2000,2021))

In [30]:
print(serie1)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [31]:
serie2=list(range(11))

In [32]:
print(serie2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
serie3=list(range(3,11))
print(serie3)

[3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
serie4=list(range(1950,2021,10))

In [35]:
print(serie4)

[1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]

<h3>Convertendo uma string em uma lista</h3>

In [36]:
ex='Eu amo aprender Python!'
ex.split()

['Eu', 'amo', 'aprender', 'Python!']

In [37]:
y='python%python%python%python'
y.split('%')  #definindo um delimitador

['python', 'python', 'python', 'python']

In [38]:
z='carro,computador,livro,café'

In [39]:
z.split(',')

['carro', 'computador', 'livro', 'café']

<h3>Transformando uma lista em uma string</h3>

In [40]:
p=['Eu','amo','python!']
string=' '.join(p)

In [41]:
string

'Eu amo python!'

<h3>Definindo listas em termos de variáveis</h3>
Vamos declarar as variáveis num1,num2,num3 e armazenar em lista.

In [42]:
num1=10
num2=20
num3=30
lista=[num1,num2,num3]

In [43]:
lista

[10, 20, 30]

<h3>Desempacotando listas</h3>

In [44]:
valores=[350,400,900,120]
num1,num2,num3,num4=valores

In [45]:
num1

350

In [46]:
num2

400

In [47]:
num3

900

In [48]:
num4

120